<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>Original Image</h1>
        <img src="./original/<%= @filename %>" />
        <h2>Resized Image</h2>
        <img src="./resized/<%= @filename %>" />
	<br/><a href="../">Back</a>
    </body>
</html>
